.contentHeader {
  width: 100%;
  height: calc(100vh - 100px);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.contentHeader__info {
  width: 100%;
}

.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}

.typing-animation-2 {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 4s normal both;
}

.typing-animation-3 {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 7s normal both;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0);
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .line {
    font-size: .6em;
  }
}