* {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  box-sizing: border-box;
  overflow: hidden;
}

.box {width: 500px; height: 700px; position: fixed; border: 2px solid #1b1b1b;}
.b1 {transform: rotate(-30deg);top: -260px;right: -140px;}
.b2 {transform: rotate(20deg);bottom: -380px;left: -270px;}


@media only screen and (max-width: 600px) {
}