.navbar {
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 250px;
    display: inline-block;
  }
}